
    {% extends "./base.html" %}
    
    
    {% block titulo %}Index{% endblock %}
    
    {% block contenido %}
    <!--galeria de imgenes-->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval = "3000" >
        {% load static %}
        <img src="{% static '../../../../../static/img/img1.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval = "3000">
        {% load static %}
        <img src="{% static '../../../../../static/img/img2.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval = "3000">
        {% load static %}
        <img src="{% static '../../../../../static/img/img3.webp' %}" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <hr class="text-black"> 

  <!--libros-->
  <div class="container text-center mt-4">
    <div class="row mt-3">
      <div class = "col">
        {% load static %}
        <img src="{% static '../../../../../static/img/libro1.jpeg' %}" alt="" width="180" height="200">
        <h3>El principito</h3>
        <p>Descripcion del libro<a href="#"> ver mas...</a></p>
        <button type="button" class="btn btn-warning">Comprar</button>
      </div>
      <div class="col">
        {% load static %}
        <img src="{% static '../../../../../static/img/libro2.webp' %}" alt="" width="180" height="200">
        <h3>El quinto infierno</h3>
        <p>Descripcion del libro<a href="#"> ver mas...</a></p>
        <button type="button" class="btn btn-warning">Comprar</button>
      </div>
      <div class="col">
        {% load static %}
        <img src="{% static '../../../../../static/img/libro3.png' %}" alt="" width="180" height="200">
        <h3>El bosque despierto</h3>
        <p>Descripcion del libro<a href="#"> ver mas...</a></p>
        <button type="button" class="btn btn-warning">Comprar</button>
      </div>
    </div>

    <div class="row mt-3">
        <div class="col">
          <img src="{% static '../../../../../static/img/libro4.jpg' %}" alt="" width="180" height="160">
          <h3>Dejemos huella</h3>
          <p>Descripcion del libro<a href="#"> ver mas...</a></p>
          <button type="button" class="btn btn-warning">Comprar</button>
        </div>
        <div class="col">
          <img src="{% static '../../../../../static/img/libro5.jpg' %}" alt="" width="180" height="160">
          <h3>Alicia en el pais de las Maravillas</h3>
          <p>Descripcion del libro <a href="#"> ver mas...</a></p>
          <button type="button" class="btn btn-warning">Comprar</button>
        </div>
        <div class="col">
          <img src="{% static '../../../../../static/img/libro6.jpg' %}" alt="" width="180" height="160">
          <h3>Harry Potter y la piedra filosofal</h3>
          <p>Descripcion del libro <a href="#"> ver mas...</a></p>
          <button type="button" class="btn btn-warning">Comprar</button>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col">
          <img src="{% static '../../../../../static/img/libro7.jpg' %}" alt="" width="180" height="160">
          <h3>Living alone</h3>
          <p>Descripcion del libro<a href="#"> ver mas...</a></p>
          <button type="button" class="btn btn-warning">Comprar</button>
        </div>
        <div class="col">
          <img src="{% static '../../../../../static/img/libro8.jpg' %}" alt="" width="180" height="160">
          <h3>Arrivals</h3>
          <p>Descripcion del libro<a href="#"> ver mas...</a></p>
          <button type="button" class="btn btn-warning">Comprar</button>
        </div>
        <div class="col">
          <img src="{% static '../../../../../static/img/libro9.jpg' %}" alt="" width="180" height="160">
          <h3>Escencia</h3>
          <p>Descripcion del libro<a href="#"> ver mas...</a></p>
          <button type="button" class="btn btn-warning">Comprar</button>
        </div>
      </div>
  </div>
  {% endblock %}
